.hero_section{
  width: 100%;
}
@keyframes fadIn{
 from{
  opacity: 0;
  transform: translateX(-50px) translateY(-50px) translateZ(-50px);
 }
 To{
  opacity: 1;
  transform: translateX(0);
 }
}
.hero_image{
  animation: fadIn 1s infinite alternate ease-in-out;
}

.container.departments {
  padding: 20px;
}
/* .biography{
  background-color: rgb(209, 209, 209);
} */
.department-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  opacity: 0.8;
}
.department-card:hover{
  opacity: 1;
}
.depart-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.depart-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
.message{
  background-color: rgb(209, 209, 209);
}
/* .hero_section{
  background-color: rgb(209, 209, 209);
}
.message{
  background-color: rgb(209, 209, 209);
}
.navbar{
  background-color: rgb(209, 209, 209);
} */